@using System.Globalization
@using Microsoft.AspNetCore.RequestLocalization
@using Microsoft.Extensions.Hosting
@using Volo.Abp.Localization
@using Volo.Abp.AspNetCore.Components.Web.Theming.Bundling
@using Volo.Abp.Ui.Branding
@inject IHostEnvironment Env
@inject IKTTheme KTTheme
@inject IBrandingProvider BrandingProvider
@inject IJSRuntime JSRuntime

@{
    // var dir = CultureHelper.IsRtl ? "rtl" : "ltr";
    var dir = "rtl";

    // var lang = CultureInfo.CurrentCulture.Name;
    var lang = "fa";
}

<!DOCTYPE html>
<html lang="@lang" dir="@dir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@BrandingProvider.AppName</title>
    <base href="/" />

    <!-- METRONIC -->
    <link rel="shortcut icon" href="@KTTheme.GetFavicon()" />
    <!-- METRONIC -->

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>

    <AbpStyles BundleName="@BlazorMetronicThemeBundles.Styles.Global" @rendermode="InteractiveServer" />

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>
<body id="kt_app_body">
    <!-- METRONIC -->
    <_Init />
    <!-- METRONIC -->
    <Routes @rendermode="InteractiveAuto" />
 
    <div id="blazor-error-ui">
        @if (Env.IsDevelopment())
        {
            <text>An unhandled exception has occurred. See browser dev tools for details.</text>
        }
        else if (Env.IsStaging() || Env.IsProduction())
        {
            <text>An error has occurred. This application may no longer respond until reloaded.</text>
        }
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <AbpScripts BundleName="@BlazorMetronicThemeBundles.Scripts.Global" @rendermode="InteractiveServer" />
</body>
</html>

@code{
    private List<string> GlobalStyles =>
    [
        "global.css"
    ];

    private List<string> GlobalScripts =>
    [
        "global.js"
    ];

}